.annonces-title{
    padding: 0px 0px 6px 0px;
}
.annonces-content{
    display: flex;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: center;
    
}
.annonces-details-price{
    padding: 15px 0px 0px 0px;
}
#pagin{
    padding: 15px 0px 0px 0px;
}
.create-alert-container{
   margin: 2% 6% 2% 6%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.underline-red{
    height: 5px;
    background-color: var(--theme-color-red);
    border-radius: 31px;
    width: 122px;
}
.alert-annonce-notification-container{
    display: flex;
    width: 100%;
    position: absolute;
    justify-content: end;
}
.annonce-notif-text{
  width: auto;
  padding: 9px;
  width: 50%;
  text-align: center;
  color: white;
}
.annonce-notif-bg-green{
  background: #00ff348c;
}
.annonce-notif-bg-blue{
  background:#007cff8c ;
}
.displayed-none{
    display: none;
}
.annonce-card-content{
  padding: 10px;
}
.bordered-left{
  border-left: 1px solid  #a4a1a1;
}
.bordered-right{
  border-right: 1px solid  #a4a1a1;
}
.dropdown-container{   
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: nowrap; 
     background-color: white;
     padding-bottom: 2% !important;
     padding-left: 6% !important;
    padding-right: 6% !important;
    margin-top: 7px;
}
.annonces-details-price{
  color: var(--theme-color-red) !important;
  font-family: lato-heavy !important;
}
.dropdown{
  width: 100%;
}
.dropdown-container>div{
  width: 100%;
}
.dropdown-container>div>button{
  width: 100%;
  background-color: white;
  font-family: lato-light;
  color: black;
}
.dropdown-container-line>div{
  height: 4px;
  background: #a69f9fc2;
  border-top: 2px solid #e3dbdb;
  border-bottom: 2px solid #e3dbdb;
}
.dropdown-container-red-line{
  background: var(--theme-color-red)  !important;
  border: none !important;
  height: 3px !important;
  width: 100%;
  margin-top: 6px;
}

.dropdown-line{
   background: #bbb;
  border: none;
  height: 3px;
  width: 100%;
  margin-top: 3%;
}

.dropdown >button {
  font-size: 16px;
}
.page-link{
  color: #808080 !important;
}

.page-item:first-child .page-link {
 
  border-top-left-radius: 0rem !important;
  border-bottom-left-radius: 0rem !important;
}

.page-item:last-child .page-link {
  border-top-right-radius: 0rem !important;
  border-bottom-right-radius: 0rem !important;
}
.dropdown-active-legend{
  color: var(--theme-color-red) !important;
}
.dropdown-menu{
  border-radius: 0rem !important;
  width: 100% !important;
}
.dropdown-menu>a{
  color: var(--theme-color-red) !important;
  font-family: lato-bold;
}
.dropdown-menu>a:hover{
  color: #fff !important;
  background-color:var(--theme-color-red) !important;
  font-family: lato-bold;
}
/* .dropdown-main-button-container{
  display: none;
} */
@media only screen and (max-width: 600px){
  .underline-red{
    width: 100%;
  }
}
@media only screen and (max-width: 830px){
  /* .dropdown-main-button-container{
    display: block;
    border: solid 2px white;
    border-radius: 70px;
    background: var(--theme-color-red);
    width: 60px;
    text-align: center;
    padding: 9px;
    font-size: 25px;
    margin: 10px 0 24px 1%;
  } */
  /* .dropdown-container{   
  display: block;
  background-color: white;
  margin: auto;
  width: 80%;
  position: absolute;
  z-index: 98;
  left: 50%;
  top: 8%;
  transform: translate(-50%,0%);
  -ms-transform: translate(-50%,0%);
  box-shadow: 1px -1px 14px 3px lightgray;
  border-radius: 11px;
  } */
  /* .dropdown{
  width: 100%;
}
.dropdown-container>div{
  width: 100%;
}
.dropdown-container>div>button{
  width: 100%;
  background-color: white;
  font-family: lato-bold;
  color: gray;
}
.dropdown-container-line>div{
  height: 4px;
  background: #a69f9fc2;
  border-top: 2px solid #e3dbdb;
  border-bottom: 2px solid #e3dbdb;
}
.dropdown-container-red-line{
  background: var(--theme-color-red)  !important;
  border: none !important;
  height: 3px !important;
  width: 100%;
  margin-top: 6px;
}

.dropdown-line{
  background: #afaeae7a;
  border: none;
  height: 3px;
  width: 100%;
  margin-top: 16px; 
}

.dropdown >button {
  font-size: 20px;
  border: none!important;
  } */
  .dropdown-container{   
    display: flex;
    -webkit-flex-wrap: wrap;

    flex-wrap: wrap; 
     background-color: white;
}
  .dropdown-container > div {
      width: 50%;
  }
}


/****************/

.amount{
  font-size: 2vw !important;
}
.card-text.lato-thin{
  color: #6b6b6b !important;
}
.title{
  font-size: 2vw;
}

.ring{
    padding-top: 1%;
}
.dropdown-item{
  font-family: lato-light !important;
}

@media only screen and (max-width: 730px ){
   

    [class^="flaticon-"]::before, [class*=" flaticon-"]::before, [class^="flaticon-"]::after, [class*=" flaticon-"]::after {
    font-family: Flaticon;
    font-size: 15px;
    font-style: normal;
    margin-left: 20px;
    font-size: 12px;
  }
  .ring{
    font-size: 12px !important;
    padding: 2% !important;
  }
  #create-alert-container{
    margin-bottom: 2%;
  }
  .title{
    margin-bottom: 1%;
    font-size: 5vw;
  }

}
#pagin{
  z-index: 1;
  position: relative;
}