:root{
    --theme-grey: #3a3737;
    --theme-grey-1: #3a3737;
    --theme-text-color-red: #ff0048;
    --theme-color-red: #ff0048;
}
.create-detail-alert-container{
	display:flex;
	padding: 50px 32px 50px 34px;
	justify-content: space-between;
	flex-wrap: wrap;
}
.btn-danger-outline-white{
	padding-left:2%; 
} 
.btn-danger-outline-white > i{
	margin-right: 2%;
} 
.ref-text{
	position: absolute;
}
.position-relative{
	position: relative;
}
.detail-top-legend{
	position: absolute;
	top: -9%;
}
.margin-bottom-3{
	margin-bottom: 33px;
}
.detail-carousel-section{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.detail-more-card{
	display: flex;
	margin-top: 1.3em;
	flex-wrap: wrap;
}
.detail-more-card >div{
	width: 25%;
	padding: 0px 10px 0px 10px;
}
.annonce-card-content{
	padding: 0px 10px 0px 10px;
	display: flex;
	justify-content: center;
}
.annonce-card-content>div{
	width: 17rem;
}
.button-group-center{
	justify-content: center;
}
.button-card-container > button{
	width: 80px;
	text-align: center;
	font-size: 13px;
	padding: 7px 2% 7px 2%;
}
.button-card-container{
	padding: 1%;
}
.card-small-text{
	font-size: 13px;
}
.annonces-details-price{
	color: #ff0048;
}
.group-center-margin{
	margin-left: 4%;
}
.card-link-text-container{
	text-decoration: underline;
	padding-top: 10px;
	margin-left: 4%;
}
.carousel-top-legend-container{
	padding-left: 2%;
	font-size: 2vw;
}
.detail-carousel-container{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	padding: 2%;
}
.carousel-main-container{
	width: 70%;
	padding: 0 1% 2% 1%;
}
.carousel-text-container{
	background: lightgrey;
	padding: 0 1%;
	width: 30%;
}
.text-card-container-header{
	text-align: right;
	padding: 2% 5% 0 0%;
	border-bottom: 1.992px solid #858786;
}
.main-header-text{
	color: #ff0048;
	font-size:3vw;
}
.text-card-small{
	transform: translateY(-50%);
	color: #3a3737;
}
.all-carousel-img{
	display: flex;
	flex-direction: row;
	width: 84%;
	margin: 0%;
	height: auto;
}
.carousel-img-element{
	padding: 2% 3% 3% 0%;
}
.carousel-img-element >img{
	width: 100%;
}
.detail-carousel-button-group{
	/* display: flex;
	flex-direction: row; */
	display: flex;
	flex-wrap: wrap;
}
.button-carousel-container{
	/* margin: 1%; */
}
@media only screen and (max-width: 780px) {
/* .detail-more-card >div{
	width: 100%;
	} */
.carousel-top-legend-container{
	font-size: 5vw;
	}
}
@media only screen and (max-width: 350px) {
.carousel-top-legend-container{
	font-size: 6vw;
	}
	.detail-carousel-container{
		display: flex;
		flex-wrap: wrap;
	}
}
@media only screen and (max-width: 936px) {
	.ref-text{
		position: static;
	}
	.detail-alert-container-legend{
		width:100%;
		text-align: center;
	}
	.create-detail-alert-container >a{
	margin: auto;
	margin-top: 15px;
	}
}





/* debut */
.det-carousel-container{
	padding: 0px 32px 50px 34px;
}

.d-block {
	width: 100%;
}
.carousel-text-legend-container{
	width: 30%;
}
.carousel-image-container {
	width: 70%;
}
.carousel-img{
	width: 143%;
}

.text-card-container{
	background-color: #e9eaec;
}

@media only screen and (min-width: 831px) {
.det-carousel-container{
	display: flex;
	flex-wrap: nowrap;
	width: 100%;
}
}

@media only screen and (max-width: 830px) {
	.det-carousel-container{
		display: flex;
		flex-wrap: wrap;
		width: 100%;
	}
	.d-block {
	width: 100%;
	}
	.carousel-text-legend-container{
		width: inherit;
	}
	.carousel-image-container {
		width: inherit;
	}
	.carousel-img{
		width: 143%;
	} 
	.all-carousel-img{
		width: 147.2%;
	}
}

@media only screen and (min-width: 444px ) and (max-width:  717px){
	.detail-more-card > div{
		width: 50%;
		padding: 1%;
	}
}
@media only screen and (min-width: 717px ) and (max-width:  830px){
	.detail-more-card > div{
		width: 33%;
		padding: 1%;
	}
}
.l-1>button{
	font-size: 7px;
}
.contacter-le-proprio-line-h{
	line-height: 1;
}
.modal-phone-underline-red{
	margin-left: 3px !important;
	width: 61px !important;
	height: 3px !important;
	background-color: var(--theme-color-red);
}
.phone-number-container{
	padding: 21px;
	text-align: center;
	font-size: 16px;
}
.detail-box-body{
	border-radius: 0px !important;
	width: 325px;
	margin-left: 66px;
}
.voir-plus{
	z-index: 2;
	position: absolute;
	text-decoration: underline;
}
.modal-lg-abo{
	max-width: inherit !important;
}
.abo-container{
	display: flex;
justify-content: space-around;
flex-wrap: wrap;
}
.abo-container>div{
	border: 1px solid;
	padding: 22px;
	border-radius: 8%;
	width: 25%;
}
.abo-container>div>div{
	display: flex;
	justify-content: center;
	padding-bottom: 7%;
}
.abo-container>div>ul{
	height: 58%;
}
.abonnement-title{
	padding-bottom: 42px;
	padding-left: 44px;
}
.underline-red-abo-title{
	height: 5px;
	background-color: var(--theme-color-red);
	border-radius: 31px;
	width: 60px;
}
.abo-modal-body{
	padding-bottom: 42px;
}
@media only screen and (min-width: 0px ) and (max-width:  775px){
	.abo-container{
		display: flex;
		flex-flow: column;
	}
	.abo-container > div {
    width: 50%;
    margin-left: 26%;
}
}
/* .clear-fix-abox{
	border: none !important;
} */

/*****by mi*******/

/**by mi**/


#container_menu_ppal{
	width: 80% !important;
	text-align: center;
	margin: 0% 10% !important;
}

.text-card-container {
    background-color: #e8eaeb !important;
    font-family: lato-light !important;
    color: #606060 !important;
}

.text-card-container {
    background-color: #e8eaeb !important;
}

.text-card-small {
	 color: #606060;
	  font-family: lato-light;
}
.text-card-container-header{

	border-bottom: 1.992px solid #828383;
	margin:2%;
	}
	.price{
		color: var(--theme-color-red);
		font-family: lato-heavy;
		}
