.svg-footer{
    margin-bottom: -34px !important;
    margin-top: -100px !important;
}
.svg-footer-container{
    padding-top: 6px !important;
}
.content-logo-footer{
    position: absolute;
    left: 0;
    top: 75%;
}
.logo-invert{
   width: 250px;
   height: auto;
}
.footer{
    position: relative;

}


.footer-text{
    position: absolute;
    right: 2%;
    top: 67%;
    font-size: 21px;
    padding: 2%;
    padding-right: 0;
}
.footer-link{
    z-index: 2;
    position: absolute;
    font-size: 21px;
    top: 129%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.abonnement-container{
    position: absolute;
    font-size: 24px !important;
    padding: 3%;
    width: 100%;
    margin-top: -3%;
}
@media only screen and (max-width: 360px){
    .abonnement-container{
        font-size: 5Vw;
    }
}

@media only screen and (min-width: 482px) and (max-width: 775px){
    .content-logo-footer{
        top:161%;
    }
    .footer-link{
        top:327%;
        font-size:12px !important;
    }
    .footer-text{
        top:104% !important;
        font-size:12px !important;
    }
    .abonnement-container {
        margin-top: -7% !important;
    }
}
@media only screen  and (max-width: 589px){

      .footer-text{
    top:111%;
    }  
}
/* 
@media only screen  and (max-width: 1106px){

      .content-logo-footer{
        top:76%;
    }
    .footer-link{
        top:237%;
        font-size:13px;
    }
    .footer-text{
        top: 99%;
        font-size: 13px;
        right: 4%; 
    } 
} */
mini-footer, .mini-footer-text-container, .mini-footer-text, .mini-footer-link
, .small-content-logo-footer{
    display: none;
}
@media only screen and (max-width: 508px){
    .footer{
        display: none;
        height: 200px;
    }
    .min-footer{
        display: block;
        background-color:#ff0048 ;
    }
    .mini-footer, .mini-footer-text-container, .mini-footer-text, .mini-footer-link
, .small-content-logo-footer{
    display: block;
}
    .mini-footer-text{
        font-size: 3vw;
    }
    .mini-footer-link{
        font-size: 3vw;
    }
}
