.svg-footer{
    margin-bottom: -34px !important;
}
.svg-footer-container{
    padding-top: 6px !important;
}
.content-logo-footer{
    position: absolute;
    left: 0;
    top: 75%;
}
.logo-invert{
    width: 22vw;
}
.footer{
    position: relative;

}


.footer-text{
    position: absolute;
    right: 2%;
    top: 67%;
    font-size: 1.25Vw;
    padding: 2%;
    padding-right: 0;
}
.footer-link{
    z-index: 2;
    position: absolute;
    font-size: 1.25vw;
    top: 120%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.abonnement-container{
    position: absolute;
    font-size: 2Vw;
    padding: 3%;
    width: 100%;
    margin-top: -3%;
}
@media only screen and (max-width: 360px){
    .abonnement-container{
        font-size: 5Vw;
    }
}

@media only screen and (min-width: 482px) and (max-width: 775px){
    .content-logo-footer{
        top:116%;
    }
    .footer-link{
        top:150%;
        font-size:12px;
    }
    .footer-text{
        top:104%;
        font-size:10px;
    }
}
@media only screen  and (max-width: 589px){

      .footer-text{
    top:111%;
    }  
}

@media only screen  and (max-width: 1106px){

      .content-logo-footer{
        top:76%;
    }
    .footer-link{
        top:136%;
        font-size:12px;
    }
    .footer-text{
        top:95%;
        font-size:10px;
    } 
}
mini-footer, .mini-footer-text-container, .mini-footer-text, .mini-footer-link
, .small-content-logo-footer{
    display: none;
}
@media only screen and (max-width: 506px){
    .footer{
        display: none;
        height: 200px;
    }
    .min-footer{
        display: block;
        background-color:#ff0048 ;
    }
    .mini-footer, .mini-footer-text-container, .mini-footer-text, .mini-footer-link
, .small-content-logo-footer{
    display: block;
}
    .mini-footer-text{
        font-size: 3vw;
    }
    .mini-footer-link{
        font-size: 3vw;
    }
}
