.svg-footer{
   transform: translateY(8px);
}
.svg-footer-container{
    padding-top: 6px !important;
}
.mini-footer, .mini-footer-text-container, .mini-footer-text, .mini-footer-link
, .small-content-logo-footer{
    display: none;
}
.content-logo-footer{
    position: absolute;
    left: 0;
    top: 50%;
}
.logo-invert{
    width: 22vw;
}
.footer{
    position: relative;
}
.footer-text{
    position: absolute;
    right: 6%;
    top: 46%;
    font-size: 1.5Vw;
    padding: 2%;
    padding-right: 0;
}
.footer-link{
    z-index: 2;
    position: absolute;
    font-size: 1.5vw;
    top: 92%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.abonnement-container{
    position: absolute;
    font-size: 2Vw;
    padding: 3%;
    width: 100%;
    margin-top: -5%;
}
@media only screen and (max-width: 360px){
    .abonnement-container{
        font-size: 5Vw;
    }
}
@media only screen and (max-width: 482px){
    .footer{
        display: none;
        height: 200px;
    }
    .min-footer{
        display: block;
        background-color:#ff0048 ;
    }
    .mini-footer, .mini-footer-text-container, .mini-footer-text, .mini-footer-link
, .small-content-logo-footer{
    display: block;
}
    .mini-footer-text{
        font-size: 3vw;
    }
    .mini-footer-link{
        font-size: 3vw;
    }
}
