:root{
    --theme-grey: #3a3737;
    --theme-grey-1: #606060;
    --theme-text-color-red: #ff0048;
    --theme-color-red: #ff0048;
}
.text-theme-grey{
    color: var(--theme-grey);
}
.text-theme-grey-2{
    color: #3a3737;
}
.w-90{
    width: 90% !important;
}
.text-theme-grey-1{
    color: #606060 !important;
}
body{
    font-family: "lato-regular";
}
@font-face{
  font-family: "lato-black";
  src: url("../font/Lato-Black.ttf") format('truetype');
}
@font-face{
  font-family: "lato-light";
  src: url("../font/Lato-Light.ttf") format('truetype');
}
@font-face{
  font-family: "lato-lightitalic";
  src: url("../font/Lato-LightItalic.ttf") format('truetype');
}
@font-face{
  font-family: "heavy-italic";
  src: url("../font/Lato-HeavyItalic.ttf") format('truetype');
}
@font-face{
  font-family: "lato-bold";
  src: url("../font/Lato-Bold.ttf") format('truetype');
}
@font-face{
  font-family: "lato-regular";
  src: url("../font/Lato-Regular.ttf") format('truetype');
}

@font-face{
  font-family: "lato-medium";
  src: url("../font/Lato-Medium.ttf") format('truetype');
}

@font-face{
  font-family: "lato-bolditalic";
  src: url("../font/Lato-BoldItalic.ttf") format('truetype');
}
@font-face{
  font-family: "lato-Semibold";
  src: url("../font/lato-Semibold.ttf") format('truetype');
}
@font-face{
  font-family: "lato-Black";
  src: url("../font/Lato-Black.ttf") format('truetype');
}
@font-face{
  font-family: "lato-semibolditalic";
  src: url("../font/Lato-SemiboldItalic.ttf") format('truetype');
}
@font-face{
  font-family: "lato-heavy";
  src: url("../font/Lato-Heavy.ttf") format('truetype');
}
@font-face{
  font-family: "lato-thin";
  src: url("../font/Lato-Thin.ttf") format('truetype');
}
.lato-lightitalic{
    font-family: lato-lightitalic !important;
}
.lato-thin{
    font-family: lato-thin !important;
}
.lato-heavy{
    font-family: lato-heavy !important;
}
.lato-semibolditalic{
    font-family: lato-semibolditalic !important;
}
.lato-semibold{
    font-family: lato-semibold !important;
}
.lato-light{
    font-family: lato-light!important;
}
.heavy-italic{
    font-family: heavy-italic!important;
}
.lato-bold{
    font-family: lato-bold !important;
}
.lato-regular{
    font-family: lato-regular !important;
}
.lato-medium{
    font-family: "lato-medium" !important;
}
.lato-bolditalic{
    font-family: lato-bolditalic !important;
}
.lato-black{
    font-family: lato-Black !important;
}
.bg-white{
    background-color: white;
}
.logo-red{
    width: 128px;
    height: auto;
}
input, .select-items{
    font-family: lato-light !important;
}
.select-selected{
    font-family: lato-light !important;
}

nav.main-header{
    box-shadow: 0 0 0 0.15rem rgb(0, 0, 0, 0.2);
    z-index: 1;
}
div.search-field-container{
    background: #64011d4a;
    border-radius: 0.6rem;
}
.center{
    text-align: center;
}
.underlined-white{
    border-bottom: 3px solid white;
}
.underlined-gray{
    border-bottom: 3px solid #c5ced6b8;
}
.alert-link-container{
    padding-top: 5px;
}

.text-theme-secondary{
    color: #606060 !important;
}
div.t-line{
    height: 5px !important;
    background-color: var(--theme-color-red);
    width: 100%;
    border-radius: 1rem;
}
div.t-line-side{
    height: 40%;
    width: 100%;
}
div.t-line-container{
    padding: 1%;
}
div.whitness-card{
    box-shadow: 0px 0px 3px 1px #80808061;
    border-radius: 10px;
    height: 357px !important;
    opacity: 1;
}
img.whitness-img{
    height: 100px;
    width: 100px;
    border-radius: 5rem;
    border: 1.3px solid var(--theme-color-red);
    object-fit: cover;
}

.right-line{
        border-right: 1px solid var(--theme-color-red);
}
.left-line{
     border-left: 1px solid var(--theme-color-red);
}
.p-right-10{
    padding-right: 23px;
}
.p-left-10{
    padding-left: 27px;
}
.w-60{
    width: 60%;
}
.w-48{
    width: 49%;
}
.contact-link{
    text-decoration: none;
}
.contact-link:hover{
    text-decoration: none;
}

@media only screen and (max-width: 780px) {
    .logo-red{
      width: 90px;
      height: auto;
    }
  .landing{
      padding: 20px;
      background-image: url("../images/investir-dans-immobilier.jpg");
      background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -91px;
    height: 757px;
     margin-bottom: -10% !important;

  }
  .p-right-10 {
    padding-right: 5px;
}
.p-left-10 {
    padding-left: 10px;
}
.search-field-container, input{
    font-size: 12px !important;
}
  div.whitness-card{
      width: auto;
  }
    .desktop-padding-cards{
        padding: 5%;
    }
    .slick-prev {
        left: 8px !important;
        z-index: 1
    }
    .slick-next
    {
        right: 9px !important; 
    }
    .legend-container{
        color: white;
    }
} 
@media only screen and (min-width: 780px) and (max-width: 1000px){
    .search-field-container{
        width: 57% !important;
        background-color: #b0969e;
    }
}
@media only screen and (min-width: 780px) {
    .landing{
        height: 757px;
        background-image: url("../images/investir-dans-immobilier.jpg");
        background-repeat: no-repeat;
  background-size: cover;
    background-position-y: -91px;
        padding: 5%;
        margin-bottom: 2%;
    }
    .search-field-container{
        width: 38%;
        background-color: #b0969e;
    }
    .desktop-padding-cards{
        padding: 4%;
    }
    .slick-prev {
    left: 28px !important; 
    }
    .slick-next
    {
         right: 35px !important; 
    }   
}

.input-group-text{
    margin-left: -47px !important;
    background: transparent !important;
    border: none !important;
}
.slick-dots{display: none !important;}

@media only screen and (min-width:1280px){
    #submit_form {
        padding-left: 70px;
        padding-right: 39px;
    }
    .landing{
        margin-top: -39px !important;
    }
}

@media only screen and (max-width:480px){
    .flat-margin-top{
        padding-top: 0 !important;
        margin-top: -28px;
    }    
}

/******/
@media only screen and (max-width: 766px){
        .landing{
            margin-bottom: -6%;
        }
        .texte_descr{
          font-size: 12px;
        }
}

@media only screen and (min-width: 767px) and (max-width: 1200px){
        .landing{
            margin-bottom: -6%;
        }
}

@media only screen and (min-width: 1202px) and (max-width: 1200px){
        .landing{
            margin-bottom: -6%;
        }
}

#place, #surface_min, #prix_max {
    border-radius: 100px;
    padding: 8px 20px;
}



.nav-bars{
  display: none;
  cursor: pointer;
}
.nav-bars>i{
  cursor: pointer;
}
@media only screen and (max-width: 780px){
    .nav-bars{
      display: block;
      margin: 1%;
      font-size: 29px;
      color: var(--theme-color-red);
    }
    .nav-buttons-container{
      display: none;
      position: absolute;
      border: solid 1px white;
      background-color: white;
      top: 86%;
      padding: 2% !important;
      padding-bottom: 0!important;
      width: 34%;
      border-radius: 13px;
      box-shadow: -9px 1px 9px 1px lightgray;
    }
    .navbar-nav>li>a{
        font-size: 16px;
        text-align: center;
    }
    .large-anchor.btn-danger{
      color: #fff;
      background-color: #ff0048;
      border-color: #ff0048;
      width: 100%;
      text-align: center;
      transform: translateX(-5%);
      /* border-radius: 0px 0px 12px 12px; */
    }
    .nav-buttons-container > li{
      border:none;
    }
    .nav-images{
      display: block;
      position: absolute;
      top: 16%;
      right: 3%;
    }
    .logo-invert{
       width: 106px !important;
       height: auto;
    }
}

@media only screen and (min-width: 1107px) and (max-width: 1263px){
    .footer-link{
        top: 137% !important ;
    }
}  
@media only screen and (min-width: 937px) and (max-width: 1107px){
    .footer-link{
        top: 184% !important;
        font-size: 16px !important;
    }
    .footer-text {
        top: 84% !important;
        font-size: 14px !important;
    }
    .logo-invert {
        width: 210px !important;
        height: auto !important;
    }

}
@media only screen and (min-width: 832px) and (max-width:  936px){
    .footer-link{
      top: 182% !important ;
    }
    /* .footer-text {
        top: 84% !important;
    } */
}
@media only screen and (min-width: 798px) and (max-width:  831px){
    .footer-link{
      top: 224% !important ;
      font-size: 16px !important;
    }
    .logo-invert{
        height: 77px !important;
        width: auto !important;
       
    }
    .content-logo-footer{
        top: 88% !important;
    }
    .footer-text{
        font-size: 14px !important;
        top: 92% !important;
    }
    .abonnement-container {
    margin-top: -8% !important;
    }
}
@media only screen and (min-width: 831px) and (max-width:  936px){
    .footer-link{
      top: 181% !important;
      font-size: 16px !important;
    }
    .logo-invert{
        height: 77px !important;
        width: auto !important;
       
    }
    .content-logo-footer{
        top: 88% !important;
    }
    .footer-text{
        font-size: 14px !important;
        top: 92% !important;
    }
    .abonnement-container {
    margin-top: -8% !important;
    }
}







@media only screen and (min-width: 624px ) and (max-width:  798px){
    .footer-link{
      top: 383% !important ;
       font-size: 10px !important;
    }
    .footer-text {
        top: 105% !important;
        font-size: 13px !important;
    }
    .content-logo-footer {
        top: 181% !important;
    }
}
@media only screen and (min-width: 508px ) and (max-width:  622px){
    .footer-link{
      top: 398% !important;
        font-size: 9px !important;
    }
    .footer-text {
        top: 214% !important;
        font-size: 9px !important;
    }
    .content-logo-footer {
       top: 214% !important;
    }
}
@media only screen and (min-width: 623px ) and (max-width:  701px){
    .footer-link{
      top: 373% !important;
        font-size: 9px !important;
    }
    .footer-text {
        top: 160% !important;
        font-size: 9px !important;
    }
    .content-logo-footer {
       top: 158% !important;
    }
    .abonnement-container {
        margin-top: -7% !important;
    }
}
@media only screen and (min-width: 708px ) and (max-width:  740px){
    .footer-link{
      top: 334% !important;
        font-size: 9px !important;

    }
    .footer-text {
        top: 160% !important;
        font-size: 9px !important;
    }
    .content-logo-footer {
       /* top: 158% !important; */
       margin-top: -1%;
    }
    .abonnement-container {
        margin-top: -7% !important;
    }
    .logo-invert {
        width: 150px !important;
    }
}
@media only screen and (min-width: 741px ) and (max-width:  769px){
    .footer-link{
     top: 275% !important;
        font-size: 9px !important;

    }
    .footer-text {
        top: 160% !important;
        font-size: 9px !important;
    }
    .content-logo-footer {
       /* top: 158% !important; */
       margin-top: -2%;
        width: 17vw;
    }
    .abonnement-container {
        margin-top: -7% !important;
    }
    .logo-invert {
         width: 150px !important;
    }
}

@media only screen and (min-width: 770px ) and (max-width:  800px){
    .footer-link{
     top: 252% !important;
        font-size: 16px !important;

    }
    /* .footer-text {
        top: 160% !important;
        font-size: 9px !important;
    } */
    .content-logo-footer {
      
        margin-top: -2%;
        width: 17vw;
    }
    .abonnement-container {
        margin-top: -7% !important;
    }
    .logo-invert {
        width: 150px !important;
    } 
    .content-logo-footer {
        top: 146% !important;
    }
    .footer-text {
    
   
    top: 88% !important;
    font-size: 14px !important;
    }

}
@media only screen and (min-width: 1320px ){
    
    /* .footer-text {
       right: 9% !important;
    } */
    /* .logo-invert {
        width: 19vw !important;
    }  */
}


/**************/
#header{
  background-color: #f9f9f9 !important;
}
.page-wrap{
      max-width: 1400px;
      margin: 0 auto;
      margin-top: 87px;
}


