.legend-container{
    position: absolute !important;
font-size: 2vw;
color: #3a3737;
left: 53%;
text-align: center;
margin-top: 9%;
}
.carousel-container{
    margin-top: -2% !important;
}
@media only screen and (max-width: 1288px) and (min-width: 998px){
    .legend-container{
        left: 49%;
        margin-top: 133px;
        font-size: 29px;
    }
}
@media only screen and (max-width: 998px){
    .legend-container{
       left: 57%;
        text-align: center;
        margin-top: 200px;
    }
}
@media only screen and (max-width: 780px){
    .legend-container{
        display: none;
    }
}