.legend-container{
    position: absolute !important;
    font-size: 2vw;
    color: #3a3737;
    left: 53%;
    text-align: center;
    margin-top: 5%;
    line-height: 36px;
}
.carousel-container{
    margin-top: -2% !important;
}
@media only screen and (max-width: 1288px) and (min-width: 998px){
    .legend-container{
        left: 49%;
        margin-top: calc(133px - 100px);
        font-size: 29px;
    }
}
@media only screen and (max-width: 998px){
    .legend-container{
       left: 57%;
        text-align: center;
        margin-top: calc(200px - 100px);
    }
}
@media only screen and (max-width: 780px){
    .legend-container{
        display: none;
    }
}